<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%-5p [%t]: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="stdout" level="debug" />
            <AppenderRef ref="stdout" level="info" />
        </Root>
    </Loggers>
</Configuration>

